.header{
    box-shadow: 0 0 2px 1px #eaecf0;

    .logo{
        display: flex;
        align-items: center;
        gap: 10px;

        .icon_logo{
            width: 25px;
            height: 25px;
            color: #FB8500;
        }

        a{
            font-size: 30px;
            font-weight: 600;
            color: #023047;
        }
    }

    .sub_header{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon_user{
            color: #023047;
            width: 20px;
            height: 20px;
            padding: 10px;
        }

        .menu_admin{
            display: flex;
        }
    }
}