@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: "Noto Sans", sans-serif;
}

a{
    text-decoration: none;
}

.content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1%;
}